__pycache__/
*.py[cod]
.venv/
data/
outputs/
partition_cache/
.pytest_cache/
search_outputs/*
search_outputs_1/*
*.pt
new_results/
result2/
result3/
result5/
results/
results_new/
results_new1/
results1/
results4/
coalition_FL.aux
coalition_FL.bbl
coalition_FL.blg
coalition_FL.log
coalition_FL.pdf
coalition_FL.synctex
coalition_FL.tex
cost_comparison.pdf
Loss_comparison.pdf
Loss_comparison.png
mnist.npz
system model.pdf
T_comparison.pdf
T_comparison.png
Utility_comparison.pdf
Utility_comparison.png
utility_vs_T_fixed.png
utility_vs_T.png
chatgpt4.tex
average_loss_vs_T_fixed.png
average_loss_vs_T.png
